.aside {
    position: fixed;
    @media ( orientation: landscape ) { position: absolute; }
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: 10000;
    min-height: 100vh;
    background: darken(@main-bg-color, 5%);
    label[for="action-menu-toggle"] {
        top: 50vh;
        width: 40px;
        right: -22px;
        height: 40px;
        margin-top: -18px;
        position: absolute;
        .border-radius(50%);
        border: 1px solid @white;
        background: @main-bg-color;
        .cilcle {
            width: 6px;
            height: 6px;
            content: '.';
            .border-radius(50%);
            margin: 5px 0 4px 20px;
            border: 1px solid @danger;
            &:nth-child(even) {
                margin: 5px 0 4px 25px;
            }
        }
    }
    #action-menu-toggle {
        visibility: hidden;
        margin-left: -20px;
        &:checked + .action-menu {
            width: 150px;
            padding: 0 10px 0 5px;
        }
    }
    .action-menu {
        width: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
        list-style: none;
        transition: width 0.5s ease;
        background: darken(@main-bg-color, 5%);
        button {
            white-space: nowrap;
        }
    }
}
