//mixin
.floated-generator(@name, @width) {
    .floated-@{name} {
        float: left;
        width: @width;
    }
}

.floated {
    float: left;
}

.clearfix {
    &:after {
        display: block;
        content: '';
        clear: both;
    }
}

.row {
    .clearfix;
}

.container {
    width: 100%;
    margin: auto;
    @media ( min-width: @tablet-point ) { max-width: 1440px; }

}
