.table {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    @media ( min-width: @tablet-point ) { width: 50%; margin: auto; }
    border-collapse: collapse;
    & tr, & td {
        border: 1px solid @white;
    }
}
